body {
    background: linear-gradient(45deg,rgb(60, 29, 29) 40%,rgb(0,0,0));
    font-family: 'Georgia', 'Garamond', 'Palatino', serif;
    color: rgb(233, 220, 191);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: .5rem;
    box-sizing: border-box;
}

.title-Card {
    color: rgb(255, 255, 255);
}

img {
    width: auto;
    height: 10rem;
}

.deck-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.deck-display {
    width: 50rem;
    display: flex;
    background-color: rgba(233, 233, 233, 0.3);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 1.5rem;
    gap: 0;
    justify-content: center;
}

.light-deck-heading {
    color: rgb(244, 235, 214);
}

.dark-deck-heading {
    color: rgb(187, 180, 166);
}

.changeBtn {
    height: 3rem;
    padding: 0.75rem 1.25rem;
    color: rgb(233, 220, 191);
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(146, 121, 68);
    border-radius: 6px;
    font-size: 1rem;
}

.startBtn,
.blitzBtn {
    font-family: 'Georgia', 'Garamond', 'Palatino', serif;
    min-width: 7rem;
    height: 2.5rem;
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    border: 2px solid rgb(146, 121, 68);
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    color: rgb(233, 220, 191);
    background-color: black;

}

.piece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.piece-name {
    margin: 0;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.piece-name-light {
    color: rgb(244, 235, 214);
}

.piece-name-dark {
    color: rgb(187, 180, 166);
}